@page
@model Web.Pages.MadridDetailModel
@{
}


<div>
    <h2>Marka: @Model.SearchResultDetail.Brand</h2>
    <img src="@Model.SearchResultDetail.ImageUrl" alt="image" />
    <p>Durumu: @Model.SearchResultDetail.Status</p>
    <p>Kayıt Numarası: @Model.SearchResultDetail.RegistrationNo</p>
    <p>Kayıt Tarihi: @Model.SearchResultDetail.RegistrationDate</p>
    <p>Tescil Bitiş Tarihi: @Model.SearchResultDetail.RegistrationEndDate</p>
    <h3>Holder Bilgileri</h3>
    <p>Adı: @Model.SearchResultDetail.Holder.Name</p>
    <p>Addresi: @Model.SearchResultDetail.Holder.Address1, @Model.SearchResultDetail.Holder.Address2, @Model.SearchResultDetail.Holder.Address3</p>
    <h3>Sınıf Kodu ve Eşya Listesi</h3>
    @foreach (var item in Model.SearchResultDetail.GoodsAndServices)
    {
        <span> @item.Code</span> <span>-  @item.Description</span>
    }
    <p>Basic Application: @Model.SearchResultDetail.BasicApplication</p>
    <p>Designations: @Model.SearchResultDetail.Designations</p>
</div>