@page
@model Web.Pages.MadridModel
@{
    ViewData["Title"] = "Madrid";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SearchModel.RegistrationNo" class="control-label"></label>
                <input asp-for="SearchModel.RegistrationNo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SearchModel.BaseNo" class="control-label"></label>
                <input asp-for="SearchModel.BaseNo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SearchModel.HolderName" class="control-label"></label>
                <input asp-for="SearchModel.HolderName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Ara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Origin</th>
                    <th>Holder</th>
                    <th>Reg No</th>
                    <th>Reg Date</th>
                    <th>Nice CI</th>
                    <th>Vienna CI</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SearchResults != null)
                {
                    foreach (var item in Model.SearchResults)
                    {
                        <tr>
                            <td>
                                <form method="get" asp-page="MadridDetail" asp-route-RegistrationNo="@item.RegistrationNo">
                                    <input type="hidden" name="RegistrationNo" value="@item.RegistrationNo" />
                                    <button type="submit" class="brand-link-button">@item.Brand</button>
                                </form>
                            </td>
                            <td><img src="@item.ImageUrl" alt="Image" width="50" height="50" /></td>
                            <td>@item.Status</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9">No search results found.</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
