@page
@model Web.Pages.TurkPatentModel
@{
    ViewData["Title"] = "Madrid";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TPModel.SearchModel.ApplicationNumber" class="control-label">Başvuru Numarası</label>
                <input asp-for="TPModel.SearchModel.ApplicationNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TPModel.SearchModel.RegistrationNumber" class="control-label">Tescil Numarası</label>
                <input asp-for="TPModel.SearchModel.RegistrationNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TPModel.SearchModel.ApplicantInfo" class="control-label">Başvuru Sahibi Bilgisi Müşteri Numarası</label>
                <input asp-for="TPModel.SearchModel.ApplicantInfo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TPModel.SearchModel.BulletinNumber" class="control-label">Marka İlan Bülten Numarası</label>
                <input asp-for="TPModel.SearchModel.BulletinNumber" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Ara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Origin</th>
                    <th>Holder</th>
                    <th>Reg No</th>
                    <th>Reg Date</th>
                    <th>Nice CI</th>
                    <th>Vienna CI</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.TPModel.SearchResults != null)
                {
                    foreach (var item in Model.TPModel.SearchResults)
                    {
                        <tr>
                            <td>@item.Brand</td>
                            <td><img src="@item.ImageUrl" alt="Image" width="50" height="50" /></td>
                            <td>@item.Status</td>
                            <td>@item.Origin</td>
                            <td>@item.Holder</td>
                            <td>@item.RegNo</td>
                            <td>@item.RegDate</td>
                            <td>@item.NiceCI</td>
                            <td>@item.ViennaCI</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9">No search results found.</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
